.bg-lines {
   background-image: linear-gradient(
      hsla(219, 69%, 34%, 0.15) 0.5px,
      transparent 1px
   );
   background-size: 7px 7px;
}

.bg-texture {
   background-color: var(--primary-color);

   &[data-texture='contact'] {
      background: radial-gradient(var(--secondary-color) 20%, transparent 20%),
         radial-gradient(var(--secondary-color) 20%, transparent 20%),
         var(--primary-color);
      background-attachment: fixed;
      background-position: 0 0, 2.5px 2.5px, center;
      background-repeat: repeat, repeat, no-repeat;
      background-size: 5px 5px, 5px 5px, cover;
   }

   @media screen and (min-width: 768px) {
      --url: url('../img/la-chouette-agence-banniere.webp');

      position: relative;

      background: radial-gradient(var(--secondary-color) 20%, transparent 20%),
         radial-gradient(var(--secondary-color) 20%, transparent 20%),
         var(--url);
      background-attachment: fixed;
      background-position: 0 0, 2.5px 2.5px, center;
      background-repeat: repeat, repeat, no-repeat;
      background-size: 5px 5px, 5px 5px, cover;

      &[data-img='custom'] {
         --url: url('../img/image-de-presentation.webp');
      }
   }
}

.bg-overlay {
   @media screen and (min-width: 768px) {
      padding: 3.5rem;
      background: hsla(219, 30%, 15%, 0.6);
      color: var(--white-color, white);
   }
}

.bg-quote {
   background-color: var(--primary-color);
   padding: 2.5rem;
}
