:root {
   --primary-color: hsl(19, 85%, 69%);
   --secondary-color: hsl(226, 38%, 34%);
   --pink-color: hsl(303, 61%, 50%);
   --black-color: hsl(200, 20%, 20%);
   --white-color: hsl(200, 20%, 97%);
}
