h1,
h2,
h3,
h4 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: var(--black-color);
}

h3 {
   font-size: 1.125rem;
}

p {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
