:root {
   --gap-flow: 3.5rem;
}

a {
   color: currentColor;
}

:focus {
   outline: 5px dotted var(--black-color);
   outline-offset: 0.5rem;
}

li:focus-within {
   outline: 5px dotted var(--black-color);
   outline-offset: 0.5rem;
}

.active {
   border-bottom: 1px solid var(--primary-color);
}
