.flex {
   display: flex;
   gap: 2rem;

   &-wrap {
      flex-wrap: wrap;
      justify-content: space-between;
   }
}

.flex-fluid {
   display: flex;
   gap: 2rem;
   flex-wrap: wrap;

   & > * {
      flex: 1 1 12.5rem;
   }
}
