.wrapper {
   max-width: 62.5rem;
   margin: 0 auto;
   padding: 0 1.5rem;
}

.flow {
   display: grid;
   gap: 2.5rem;
   place-items: center;
}

.icon-header {
   width: 5rem;
   height: 5rem;

   & > svg {
      height: 100%;
      width: 100%;
   }
}

.large-panel {
   padding: 6.25rem 0;
}

.panel {
   padding: 3.125rem 0;
}

h1,
h2,
h3,
h4 {
   font-family: Georgia, 'Times New Roman', Times, serif;
}
